:root {
    --white: #fff;
    --text: #191919;
    --footer: #c4c4c4;
    --footer-bg: rgb(25, 25, 25);
}
* {
    box-sizing: border-box;
}
body,a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Roboto";
}
header {
    background: url(/assets/images/header_bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 466px;
    padding: 100px 0 96px 0;
    background-size: cover;
    background-position: center;
    position: relative;
}
.sign {
    display: flex;
    position: absolute;
    top: 26px;
    right: 24px;
    font-weight: bold;
}
.sign-up {
    color: #353535;
    background: var(--white);
    font-size: 16px;
    padding: 10px 18px;
    border-radius: 1000px;
}
.sign-in {
    font-size: 18px;
    color: var(--white);
    padding: 0 16px;
}
.logo-text {
    display: none;
}
.logo-emblem svg{
    width: 56px;
    height:32px;
}
.header-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.welcome-text{
    width: 334px;
    font-size: 21px;
    color: var(--white);
}
.welcome-text h2 {
margin-left: 10px;
}
.location {
    display: none;
}
.search {
    margin: 8px;
}
.welcome-input {
    display: flex;
    align-items: center;
    height: 46px;
    width: 275px;
    margin: 0 auto;
    background: var(--white);
    padding: 4px 0px;
    border-radius: 18px;
}
.welcome-input button  {
    padding: 0px;
    margin-left: 8px;
}
.welcome-link {
    margin: 16px 0;
    display: flex;
    justify-content: center;
}
.welcome-link a {
    color:#fff;
    text-decoration: underline;
    font-size: 15px;
    font-weight:400;
    font-family: "roboto";
}
.welcome-input input {
    border: var(--white);
}
.welcome-input button svg {
    color:#413d3d;
}
.welcome-input button {
    text-decoration: none;
    background: var(--white);
    border-radius: 150px;
    border: none;
    width: 40px;
    height: 40px;
    margin: 4px;
}
.welcome-input input::placeholder {
    font-size: 15px;
    color: #696666;
}
.sec1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 40px auto;
    padding: 8px;
    font-weight: normal;
}
.sec1 img {
    width: 88px;
    height: 88px;
    margin:0 30px 35px 0;
}
.scooter , .store , .mobile {
    display: flex;
    align-items: center;
    /* padding: 16px; */
    width: 380px;
}
.sec1 h2 {
    font-size: 32px;
    margin-bottom: 0;
}
.sec1 h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
}
.sec1 a {
    color: #eb1700;
    margin-top: 14px;
    font-weight: bold;
}
.sec2 {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: -288px;
}
.sec2 img {
    max-width: 500px;
    margin-left: 64px;
}
.sec2-text {
    width: 400px;
    padding: 0 82px 0 16px;
    margin: 24px auto;
}
.big-text {
    font-size: 24px;
    color: var(--text);
    font-weight: bolder;
}
.sec2 a {
    width: 100px;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    background: #eb1700;
    color: var(--white);
    border-radius: 100px;
}
.small-text {
    font-size: 14px;
    color: var(--text);
}
.section3-bg {
    background: rgb(255, 240, 237);
}
.sec3 {
    padding: 336px 0 96px 0;    
    margin-right: 64px;

}
.sec3 a {
    width: 100px;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    background: #eb1700;
    color: var(--white);
    border-radius: 100px;
}
.sec3 img {
    max-width: 500px;
    width: 100%;
    height: auto;
}
.sec3-text {
    width: 400px;
    padding: 0 82px 0 16px;
    margin: 24px auto;
}

.footer {
    padding: 0 20px;
    text-align: center;
}
.first-row , .third-row {
    padding:32px 0;
}
.footdiv {
    padding-top: 32px ;
}
.part1 , .part2, .application {
    padding-top: 32px;
    width: 230px;
}

footer {
    background: var(--footer-bg);
    color: var(--white);
    margin-bottom: 32px;
}
footer a {
    color: var(--footer);
    font-size: 14px;
    line-height: 2em;
    margin: 0 auto;

}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

footer h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 8px 0;
}
.application div {
    width: 160px;
    background: #494949;
    opacity: 0.7;
    border-radius: 10px;
    margin:10px 32px ;
}
.copyright {
    font-size: 12px;
    color: #a8a1a1;
}
.bottom-left {
    margin-top: 12px;
}
.bottom-left  a{
    font-size:12px;
    font-weight: 400;
    margin:0 8px 0 8px;
}
.bottom-left a:hover {
    text-decoration: underline;
    color: var(--footer);
}

.socials svg {
    fill: #9e9797;
    margin-left: 5px;
}
.socials svg:hover {
    fill: var(--footer);
}

.application div:hover {
    fill: #fff;
    opacity: 1;
}

div.first-row {
    margin-top: 0;
    padding-top: 0;
}
.first-row {
    display: flex;
    justify-content: center;
}
.second-row,.third-row {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
}

@media screen and (min-width:770px){
    .sec2 {
        flex-direction: row;
        margin-bottom: -16px;
    }
    .sec2 img {
     
        /* max-width: 713px; */
    }
    .sec2-text{
        margin: 0 0 96px 64px ;
        padding: 0;
    }
    .sec3 {
        padding: 96px 0;
        display: flex;
    }
    .first-row {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    #footer-con-1 {
        display: flex;
        
    }
    #footer-con-2 {
        display: flex;

    }
    .third-row {
        flex-direction: row;
        justify-content: space-between;
    }

  

}