@media screen and (min-width:1200px){
    .welcome-input button {
        text-decoration: none;
        background: rgb(235, 23, 0);
        border-radius: 150px;
        border: none;
        width: 40px;
        height: 40px;
        margin: 4px;
    }
    .welcome-input button svg {
        color: #fff;
    }
    .welcome-text h2 {
        margin: 47px 0 32px 0;
    }
    .sec1 {
        width: 1184px;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin: 96px auto;
    }
    .scooter ,.store,.mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec1 img {
        width: 154px;
        height: 154px;
        margin: 0px;

    }
    .sec1-text h2 {
        margin: 0px ;
    }
    .sec1-text h3 {
        margin: 8px 0 12px 0;
    }
    .sec1-text a {
        font-size: 18px;
    }
    .sec2 {
        margin: 0 auto ;
        width :1184px;
        margin-bottom: -26px;
        flex-direction: row;
        align-items:center;
    }
    .sec2 img {
        width: 712px;
    }
    .sec2-text {
        margin :0 0 96px 0;
    }
    .big-text {
        font-size: 40px;
    }
    .small-text {
        font-size: 18px;
        margin: 12px 0 12px 0;
    }
    .sec3-text, .sec2-text {
        width: 410px;
    }
    .sec2 a,.sec3 a {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 18px;
    }
    .sec3 .big-text {
        white-space: nowrap;
    }
    .sec2 a {
        width: 120px;
        padding:11px 16px 30px 17px;
    }
    .sec3 {
        flex-direction: row;
        align-items: center;
        width: 1184px;
        margin: 0 auto;
    }
    .sec3 img {
        width: 712px;
    }
    .footer {
        width: 1200px;
        margin: 0 auto;
    }

}