:root {
    --white:#fff;
    --text:#191919;
    --footer:#c4c4c4;
    --footer-bg: rgb(25,25,25);
    --footer-hover:#;
}

@font-face {
    font-family: doordashB;
    src: url(/assets/fonts/TTNorms-Bold.woff2);
}

body, a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
header {
    background:url(/assets/images/header_bg.jpg);
    width: 100%;
    height: 580px;
    min-height: 520px;
}